.ArticulateTitle {
    margin-top: 10px;
    margin-bottom: 0px;
    height: 5vh;
    text-align: center;
    color: purple;
    font-size: 4vh;
}

#Game-Board { 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: calc(100vw - 10px - 10px); 
    height: calc(100vw - 10px - 10px);
    border: 2px solid black;
    margin-top: 10px;
    margin-left: auto; 
    margin-right: auto; 
    padding: 0px;
    margin-bottom: 10px;
}
  
.Game-BoardBlock { 
    width: calc((100vw - 10px - 10px)/6 - 2px - 2px);
    height: calc((100vw - 10px - 10px)/7 - 2px - 2px);
    text-align: center;
    line-height: calc((100vw - 10px - 10px)/7 - 2px - 2px);
    border: 2px solid black;
    margin: 0px;
    padding: 0px;
    font-size: 5vmin;
    font-weight: bold;
}

#Game-BoardBlock0, #Game-BoardBlock7, #Game-BoardBlock14, #Game-BoardBlock21, #Game-BoardBlock28, #Game-BoardBlock35 {
    background-color: cyan;
}

#Game-BoardBlock1, #Game-BoardBlock8, #Game-BoardBlock15, #Game-BoardBlock22, #Game-BoardBlock29, #Game-BoardBlock36 {
    background-color: #FF7B00;
}

#Game-BoardBlock2, #Game-BoardBlock9, #Game-BoardBlock16, #Game-BoardBlock23, #Game-BoardBlock30, #Game-BoardBlock37 {
    background-color: white;
}

#Game-BoardBlock3, #Game-BoardBlock10, #Game-BoardBlock17, #Game-BoardBlock24, #Game-BoardBlock31, #Game-BoardBlock38 {
    background-color: blue;
}

#Game-BoardBlock4, #Game-BoardBlock11, #Game-BoardBlock18, #Game-BoardBlock25, #Game-BoardBlock32, #Game-BoardBlock39 {
    background-color: yellow;
}

#Game-BoardBlock5, #Game-BoardBlock12, #Game-BoardBlock19, #Game-BoardBlock26, #Game-BoardBlock33, #Game-BoardBlock40 {
    background-color: red;
}

#Game-BoardBlock6, #Game-BoardBlock13, #Game-BoardBlock20, #Game-BoardBlock27, #Game-BoardBlock34, #Game-BoardBlock41 {
    background-color: green;
}

#Game-TeamRoleDiv {
    margin-bottom: 5px;
}

#Game-CurrentTurn {
    text-align: center;
    font-size: 4vmin;
    font-weight: bold;
    color: black;
    margin-bottom: 5px;
}

#Game-Team {
    display: inline-block;
    font-size: 4vmin;
    margin-left: 10px;
    font-weight: bold;
    color: black;
}

#Game-Role {
    font-size: 4vmin;
    float: right;
    margin-right: 10px;
    font-weight: bold;
    color: black;
}

.Game-Instruction {
    font-size: 4vmin;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    color: black;
    margin-bottom: 5px;
}

#Game-DescriberList {
    font-size: 4vmin;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    color: black;
    margin-bottom: 5px;
    text-align: justify;
}

#Game-GuesserList {
    font-size: 4vmin;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    color: black;   
    margin-bottom: 5px;
    text-align: justify;
}

#Game-WordCategory {
    text-align: center;
    font-size: 4.5vmin;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
}

#Game-Time {
    text-align: center;
    font-size: 4.5vmin;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
}

#Game-GeneratedWordDiv {
    text-align: center;
    margin-bottom: 10px;
}

#Game-Word {
    text-align: center;
    font-size: 4.5vmin;
    border: 3px solid black;
    display: inline-block;
    padding: 3px;
    font-weight: bold;
}

.Game-GuesserOpponentJobs {
    font-size: 4vmin;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    color: black;   
    text-align: justify;
}

.Game-BtnDiv {
    text-align: center;
    margin-bottom: 5px;
}

.Game-Btns {
    height: 7.5vh;
    margin-left: 10px;
    margin-right: 10px;
    width: calc((100vw - 60px)/3);
    font-size: 5vmin;
    color: white;
    font-family: 'Roboto Slab', serif;
}

#Game-DescriberBtn {
    background-color: purple;
}

#Game-GuesserBtn {
    background-color: #F700FF;
}

#Game-PlayBtn {
    background-color: rgb(78, 46, 219);
}

#Game-PlayBtn:disabled {
    background-color: #cccccc;
    color: #666666;
}

#Game-CorrectBtn {
    background-color: purple;
}

#Game-SkipBtn {
    background-color: #F700FF;
}

#Game-FoulBtn {
    background-color: rgb(78, 46, 219);
}

