.ArticulateTitle {
    margin-top: 10px;
    margin-bottom: 0px;
    height: 5vh;
    text-align: center;
    color: purple;
    font-size: 4vh;
}

.form {
    padding-left: 30px;
    padding-right: 30px;
}

label {
    color: purple;
    font-weight: bold;
    font-size: 3vh;
    display: block;
    margin-bottom: 10px;
}

input {
    height: 4vh;
    line-height: 3vh;
    font-size: 3vh;
    width: 75vw;
    margin-bottom: 10px;
}

.BtnDiv {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

button {
    display: inline-block;
    height: 8vh;
    width: 40vw;
    margin: 10px;
    font-size: 4vmin;
    font-weight: bold;
    color: white;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
}

.JoinBtn {
    background-color: purple;
}

.CancelBtn {
    background-color: #EE6EF2;
}