p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.PlayerList-PlayerList {
    height: 55vh;
    width: calc(100vw - 15px - 15px);
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-wrap: wrap;
}

.PlayerList-TeamBtn {
    display: inline-block;
    background-color: rgb(78, 46, 219);
    height: 6vh;
    width: 40vw;
    margin: 10px;
    color: white;
    font-size: 4vmin;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
}

.PlayerList-SectionDynamicStyle1 {
    text-align: center;
    width: calc((100vw - 15px - 15px)/2);
    height: 55vh;
    font-size: 3.5vmin;
    font-weight: bold;
}

.PlayerList-SubSectionDynamicStyle1 {
    overflow:scroll;
    margin:0px;
    width: calc((100vw - 15px - 15px)/2);
    height: calc(55vh - 6vh - 10px - 10px - 2px - 2px);
}

.PlayerList-SectionDynamicStyle2 {
    text-align: center;
    width: calc((100vw - 15px - 15px)/2);
    height: calc(55vh/2);
    font-size: 3.5vmin;
    font-weight: bold;
}

.PlayerList-SubSectionDynamicStyle2 {
    overflow:scroll;
    margin:0px;
    width: calc((100vw - 15px - 15px)/2);
    height: calc((55vh/2) - 6vh - 10px - 10px - 2px - 2px);
}
