.ArticulateTitle {
    margin-top: 10px;
    margin-bottom: 0px;
    height: 5vh;
    text-align: center;
    color: purple;
    font-size: 4vh;
}

.Lobby-Label {
    color: purple;
    font-weight: bold;
    font-size: 1.5em;
    display: block;
    margin-bottom: 10px;
    padding-left: 30px;
}

#Lobby-BtnDiv {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.Lobby-Btns {
    display: inline-block;
    height: 8vh;
    width: 40vw;
    margin: 10px;
    font-size: 4vmin;
    font-weight: bold;
    color: white;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
}

#Lobby-PlayBtn {
    background-color: purple;
    color: white;
}

#Lobby-CancelBtn {
    background-color: #EE6EF2;
}