body {
  /* background-color: pink; */
  min-height: 100vh;
  min-width: 100vw;
  max-height: 1000%;
  max-width: 1000%;
  background-image: url('../src/articulate2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1.00;
  padding: 0px;
}

